<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Add a New Password</h1>
        <form method="POST">
            <label for="service">Tài khoản:</label>
            <input type="text" name="service" id="service" required>
            <label for="password">Mật khẩu:</label>
            <input type="password" name="password" id="password" required>
            <button class="button" style="margin-top: 5px;padding: 10px 0;" type="submit">Lưu</button>
        </form>
        <div class="footer"><a class="button" href="{{ url_for('dashboard') }}">Trở lại</a></div>
    </div>
</body>

</html>